{% extends 'base.html' %}
{% load static %}

{% block head %}
<link href='http://fonts.googleapis.com/css?family=Lato:400,900|Bitter' rel='stylesheet' type='text/css'>
<style>
.jumbotron {
    color: white;
    font-family: 'Bitter', serif;
    font-size: 2em;
    margin: 0 0 0 0;
    background: None;
}

.jumbotron h1 {
    font-family: 'Bitter', serif;
    font-size: 2em;
}

.jumbotron h2 {
    font-size: 1em;
    font-family: 'Lato', sans-serif;
}

.jumbotron h6 {
    font-family: 'Bitter', serif;
    font-size: 1em;
}

.jumbotron p {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}

.btn-primary {
    width: 475px;
    height: 60px;
    font-size: 20px;
    padding: 15px;
    margin-top:30px;
}

input {
    color: black;
    font-family: 'Raleway', sans-serif;
    padding: 5px;
    font-size: 16px;
}

.error {
    color: red;
    font-size: 12px;
    margin: 15px 0 0 -100px;
}

h2 {
    color: #FFD041;
}

li {
font-size: 16px;
}
</style>

<!--[if lt IE 9]>
<script>
document.createElement('video');
</script>

<style>
video { display: block; }
</style>
<![endif]-->
<link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
{% endblock  %}

{% block body %}

    <!-- Main jumbotron for a primary marketing message or call to action -->
 <!--background-image: url({% static 'images/macbook-dark.jpg' %}); background-size: 100%;-->
    <div class="jumbotron" style="height: 100vh;">
        {% if not form %}
        <div class="container">
            <center>
            <img style="width: 4em;" src="{% static 'images/codewithchrist.png' %}" alt="Code with Christ"><br>
          <h1>Learn to Code</h1>
          <h6>Start an exciting career that lasts.</h6>
      </center>
        </div>

        <div class="container">
          <!-- Example row of columns -->
          <div class="row">
            <div class="col-md-12">
                <center><p><a class="btn btn-primary" href="{% url 'sign-up-form' %}" role="button">Sign Up Now</a></p></center>
            </div>
          </div>
 
          <div class="row">
            <div class="col-md-6">
              <h2>CLASSES</h2>
		<ul>
		  <li>Learn the programming language Python in just a few weeks.</li>
		  <li>Learn the Django framework that powers Instagram and NASA.</li>
		  <li>Explore popular Javascript MVC frameworks.</li>
		  <li>Develop an enterprise ready app with your classmates for the church.</li>
		  <li>Get help finding an entry level developer position.</li>
		</ul>

	      <h2>LEARN</h2>

        	<div class="container">
          	    <div class="row">
            		<div class="col-md-6"> <ul><li>Python</li><li>Django</li><li>Git</li><li>Javascript</li><li>AngularJS</li> </ul> </div>
			<div class="col-md-6"> <ul><li>jQuery</li><li>Html</li><li>CSS</li><li>PostgreSQL</li><li>and more.</li></ul></div>
                    </div>
	        </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-4">
		<h2>REQUIREMENTS</h2>
                  <ul>
		    <li>Ages 16 and up</li>
                    <li>Have your own Laptop computer</li>
                    <li>A $10 weekly fee</li>
                 </ul>
               <h2>DATES</h2>
                 <p>April 16th - June 25th, 2015<br><br>Monday, Tuesday, Thursday from 6:00 - 9:30pm.<br>Sunday from 1:30 - 4:00pm</p>
               <h2>LOCATION</h2>
		 <p>Tampa First Chruch of the Nazarene<br>5902 N Himes Ave, Tampa, FL 33614<br>(813) 879-0505</p>
           </div>
          </div>

          <div class="row">
            <div class="col-md-3">
              <img style="margin-top:25px; height: 230px; margin-bottom: 140px;" src="https://avatars1.githubusercontent.com/u/7441147?v=3&s=460" alt="Zach"/>
	    </div>
            <div class="col-md-9">
                <h2>INSTRUCTOR</h2>
		<p>Zachary Kazanski is a self taught web developer and has experience working web technologies.  Zach took himself from zero development knowledge to a full time developer position in 3 months.  He wants to help you do the same.<br><br>
		   He is currently a software developer at one of the countries premier datacenters.  Zach started his programming career in Brooklyn, New York and has experience with a wide range of web technologies including:<br><br>
		   Python, Django, Flask, MySQL, Postgres, Redis, Saltstack, Openstack, Docker, Fig, Vagrant, Proxmox, Javascript, AngularJS, ReactJS, jQuery, Less, CSS, HTML, Java, and Android.</p>
            </div>
          </div>
       </div>
        {% else %}
        <div class="container">
            <h2>Sign Up for April Classes</h2><br>
            <form method="POST" action="{% url 'sign-up-form' %}">{% csrf_token %}
            {% for field in form %}
                <div class="row"><div class="col-md-3">{{ field.label }}:</div>
                <div class="col-md-3">{{ field }}</div>
                {% if field.errors %}<div class="col-md-6 error">{{ field.errors }}</div>{% endif %}</div>
            {% endfor %}
            <input type="submit" class="btn btn-primary" value="Sign Up">
            </form>
        </div>
        {% endif %}
    </div>
{% endblock %}
