{% extends 'base.html' %}
{% load static %}

{% block head %}
<link href='http://fonts.googleapis.com/css?family=Lato:400,900|Bitter' rel='stylesheet' type='text/css'>
<style>
.jumbotron {
    color: white;
    font-family: 'Bitter', serif;
    font-size: 2em;
    margin: 0 0 0 0;
}

.jumbotron h1 {
    font-family: 'Bitter', serif;
    font-size: 2em;
}

.jumbotron h2 {
    font-size: 1em;
    font-family: 'Lato', sans-serif;
}

.jumbotron h6 {
    font-family: 'Bitter', serif;
    font-size: 1em;
}

.jumbotron p {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}

.btn-primary {
    width: 475px;
    height: 60px;
    font-size: 20px;
    padding: 15px;
    margin-top:30px;
}

input {
    color: black;
    font-family: 'Raleway', sans-serif;
    padding: 5px;
    font-size: 16px;
}

.error {
    color: red;
    font-size: 12px;
    margin: 15px 0 0 -100px;
}

h2 {
    color: #FFD041;
}
</style>

<!--[if lt IE 9]>
<script>
document.createElement('video');
</script>

<style>
video { display: block; }
</style>
<![endif]-->
<link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
{% endblock  %}

{% block body %}

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron" style="height: 100vh; background-image: url({% static 'images/macbook-dark.jpg' %}); background-size: 100%;">
        {% if not form %}
        <div class="container">
            <center>
            <img style="width: 5em;" src="{% static 'images/codewithchrist.png' %}" alt="Code with Christ"><br>
          <h1>Learn to Code</h1>
          <h6>Start an exciting career that lasts.</h6>
      </center>
        </div>

        <div class="container">
          <!-- Example row of columns -->
          <div class="row">
            <div class="col-md-6">
              <h2>What?</h2>
              <p>Jesus came to offer God's abundant life to every person.  Our mission is the same.  Code with Christ is a class to help people serve the church, community and world. In this class you will learn how to skill.  A valuable, in demand skill that can help you impact your persnal, work, communal, and spiritual life. At the end of this class you will have all the knowledge and ability to build a web application like Facebook or Google.</p>
            </div>
            <div class="col-md-6">
              <h2>Where?</h2>
              <p>Classes will be held at <a target="_blank" href="http://www.tampafirstnaz.org/">Tampa First Church of the Nazarene.</a>  Tampa First Church of the Nazerene is a Multi-Cultural Church dedicated to representing Christ in our community and world.  Our Church's mission is to help people know and grow tith Christ.  By offering services like Code with Christ we hope to share the amazing gift of God's love and kindness with our community. 
           </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <h2>When?</h2>
              <p>Code with Christ will be held in late April for 3 hours, 4 days a week starting at 6pm.  The class will last for 10 weeks so that the students have all the nesessary experience and resume to get a coding job.
            </div>
            <div class="col-md-6">
              <h2>How?</h2>
              <p>To be a student in Code with Christ your only requirement is to have your own Laptop computer and to make the commitment to four days a week.  To signup for Code with Christ click the signup button below.  The maximum class size will be 15 students.  Students who can commit the proper time will be enrolled first.  
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
                <center><p><a class="btn btn-primary" href="{% url 'sign-up-form' %}" role="button">Sign Up Now</a></p></center>
            </div>
          </div>
        </div>
        {% else %}
        <div class="container">
            <h6>Sign Up for April Classes</h6><br>
            <form method="POST" action="{% url 'sign-up-form' %}">{% csrf_token %}
            {% for field in form %}
                <div class="row"><div class="col-md-3">{{ field.label }}:</div>
                <div class="col-md-3">{{ field }}</div>
                {% if field.errors %}<div class="col-md-6 error">{{ field.errors }}</div>{% endif %}</div>
            {% endfor %}
            <input type="submit" class="btn btn-primary" value="Sign Up">
            </form>
        </div>
        {% endif %}
    </div>
{% endblock %}
