{% extends 'base.html' %}
{% load static %}

{% block head %}
<link href='http://fonts.googleapis.com/css?family=Lato:400,900|Bitter' rel='stylesheet' type='text/css'>
<style>
.jumbotron {
    color: white;
    font-family: 'Bitter', serif;
    font-size: 2em;
    margin: 0 0 0 0;
    background: None;
}

.jumbotron h1 {
    font-family: 'Bitter', serif;
    font-size: 2em;
}

.jumbotron h2 {
    font-size: 1em;
    font-family: 'Lato', sans-serif;
}

.jumbotron h6 {
    font-family: 'Bitter', serif;
    font-size: 1em;
}

.jumbotron p {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}

.btn-primary {
    width: 475px;
    height: 60px;
    font-size: 20px;
    padding: 15px;
    margin-top:30px;
}

input {
    color: black;
    font-family: 'Raleway', sans-serif;
    padding: 5px;
    font-size: 16px;
}

.error {
    color: red;
    font-size: 12px;
    margin: 15px 0 0 -100px;
}
.line-height {
  margin-top: 20px;
}
h2 {
    color: #FFD041;
}

li {
font-size: 16px;
}
</style>

<!--[if lt IE 9]>
<script>
document.createElement('video');
</script>

<style>
video { display: block; }
</style>
<![endif]-->
<link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
{% endblock  %}

{% block body %}

    <!-- Main jumbotron for a primary marketing message or call to action -->
 <!--background-image: url({% static 'images/macbook-dark.jpg' %}); background-size: 100%;-->
<div class="jumbotron" style="height: 100vh;">
  <div class="container">
    <h2>Sign Up for October Classes</h2><br>
    <form method="POST" action="{% url 'sign-up-form' %}">{% csrf_token %}
    {% for field in form %}
      <div class="row"><div class="col-md-3">{{ field.label }}:</div>
      <div class="col-md-3">{{ field }}</div>
      {% if field.errors %}<div class="col-md-6 error">{{ field.errors }}</div>{% endif %}</div>
      {% endfor %}
      <input type="submit" class="btn btn-primary" value="Sign Up">
    </form>
  </div>
  <ul class="line-height">
    <li>Learn the programming language Python in just a few weeks.</li>
    <li>Learn the Django framework that powers Instagram and NASA.</li>
    <li>Explore popular Javascript MVC frameworks.</li>
    <li>Develop an enterprise ready app with your classmates.</li>
    <li>Get help finding an entry level developer position.</li>
  </ul>
</div>
{% endblock %}
